# General
.DS_Store
node_modules/
dist/
coverage/

# Docker
.env
.env.*

# Backend (Laravel)
backend/vendor/
backend/storage/
backend/.env
backend/.env.*

# Frontend (Next.js)
frontend/.next/
frontend/node_modules/
frontend/.env.local
frontend/.env.*.local
